<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="IP" value="10.0.0.1"/>
    <add key="Machine" value="A-1074"/>
  </appSettings>
  <connectionStrings>
    <add name="192.168.100.100" connectionString="Provider=SQLOLEDB;Data Source=192.168.100.100;Initial Catalog=OST;Persist Security Info=True;User ID=ost_pe;Password=ost_pe@spclt"/>
  </connectionStrings>
</configuration>